@model Laitehallinta.Models.Tilat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tilat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarkennus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarkennus)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_EditButtonPartial",  Model.TilaID ) |
    @Html.Partial("_BacktoListButtonPartial")
</p>
